* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF315;
}

.logo {
  color: #FFC107;
}

.navbar {
  background-color: #0183D9 !important;
}

#home {
  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title-bar {
  background-color: #3F00B3;
  color: #FFF;
}

.footer-info {
  text-decoration: none;
  color: #FFF;
}