* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  color: #1abc9c;
}

.navbar {
  background-color: #34495e !important;
}

#home {
  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#hotel {
  background-color: #CFE7D7;
}

.title-bar {
  background-color: #1abc9c;
  color: #CFE7D7;
}

.footer-info {
  text-decoration: none;
  color: #FFF;
}

#res {
  background-color: #CFE7D7;
}